In [110]:
import os
import sys
os.environ["PYSPARK_PYTHON"]="/home/ec2-user/spark-2.4.4-bin-hadoop2.7/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_161/jre"
os.environ["SPARK_HOME"] = "/home/ec2-user/spark-2.4.4-bin-hadoop2.7"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

In [111]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSQL_Learn").getOrCreate()

In [112]:
ball = spark.read.csv("Ball_By_Ball.csv", inferSchema = True, header = True)

In [113]:
ball.show(5)

+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+---+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+
|MatcH_id|Over_id|Ball_id|Innings_No|Team_Batting|Team_Bowling|Striker_Batting_Position|Extra_Type|Runs_Scored|Extra_runs|Wides|Legbyes|Byes|Noballs|Penalty|Bowler_Extras|      Out_type|Caught|Bowled|Run_out|LBW|Retired_hurt|Stumped|caught_and_bowled|hit_wicket|ObstructingFeild|Bowler_Wicket|Match_Date|Season|Striker|Non_Striker|Bowler|Player_Out|Fielders|Striker_match_SK|StrikerSK|NonStriker_match_SK|NONStriker_SK|Fielder_match_SK|Fielder_SK|Bowler_match_SK|BOWLER_SK|PlayerOut_match_SK|BattingTeam_SK|BowlingTeam_SK|Keeper_Catch|Player_out_sk|MatchDateSK|
+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+---+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+
|  598028|     15|      6|         1|           5|           2|                       6| No Extras|          4|         0|    0|      0|   0|      0|      0|            0|Not Applicable|     0|     0|      0|  0|           0|      0|                0|         0|               0|            0| 4/20/2013|  2013|    277|        104|    83|      null|    null|           20336|      276|              20333|          103|              -1|        -1|          20343|       82|                -1|             4|             1|           0|            0|   20130420|
|  598028|     14|      1|         1|           5|           2|                       5| No Extras|          1|         0|    0|      0|   0|      0|      0|            0|Not Applicable|     0|     0|      0|  0|           0|      0|                0|         0|               0|            0| 4/20/2013|  2013|    104|          6|   346|      null|    null|           20333|      103|              20328|            5|              -1|        -1|          20348|      345|                -1|             4|             1|           0|            0|   20130420|
|  598028|     14|      2|         1|           5|           2|                       3| No Extras|          1|         0|    0|      0|   0|      0|      0|            0|Not Applicable|     0|     0|      0|  0|           0|      0|                0|         0|               0|            0| 4/20/2013|  2013|      6|        104|   346|      null|    null|           20328|        5|              20333|          103|              -1|        -1|          20348|      345|                -1|             4|             1|           0|            0|   20130420|
|  598028|     14|      3|         1|           5|           2|                       5| No Extras|          1|         0|    0|      0|   0|      0|      0|            0|Not Applicable|     0|     0|      0|  0|           0|      0|                0|         0|               0|            0| 4/20/2013|  2013|    104|          6|   346|      null|    null|           20333|      103|              20328|            5|              -1|        -1|          20348|      345|                -1|             4|             1|           0|            0|   20130420|
|  598028|     14|      4|         1|           5|           2|                       3| No Extras|          0|         0|    0|      0|   0|      0|      0|            0|Not Applicable|     0|     0|      0|  0|           0|      0|                0|         0|               0|            0| 4/20/2013|  2013|      6|        104|   346|      null|    null|           20328|        5|              20333|          103|              -1|        -1|          20348|      345|                -1|             4|             1|           0|            0|   20130420|
+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+---+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+
only showing top 5 rows

In [114]:
match = spark.read.csv("Match.csv", inferSchema = True, header = True)
match.show(5)

+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-----------+----------+----------+
|Match_SK|match_id|               Team1|               Team2|match_date|Season_Year|          Venue_Name| City_Name|Country_Name|         Toss_Winner|        match_winner|Toss_Name|Win_Type|Outcome_Type|  ManOfMach|Win_Margin|Country_id|
+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-----------+----------+----------+
|       0|  335987|Royal Challengers...|Kolkata Knight Ri...| 4/18/2008|       2008|M Chinnaswamy Sta...| Bangalore|       India|Royal Challengers...|Kolkata Knight Ri...|    field|    runs|      Result|BB McCullum|       140|         1|
|       1|  335988|     Kings XI Punjab| Chennai Super Kings| 4/19/2008|       2008|Punjab Cricket As...|Chandigarh|       India| Chennai Super Kings| Chennai Super Kings|      bat|    runs|      Result| MEK Hussey|        33|         1|
|       2|  335989|    Delhi Daredevils|    Rajasthan Royals| 4/19/2008|       2008|    Feroz Shah Kotla|     Delhi|       India|    Rajasthan Royals|    Delhi Daredevils|      bat| wickets|      Result|MF Maharoof|         9|         1|
|       3|  335990|      Mumbai Indians|Royal Challengers...| 4/20/2008|       2008|    Wankhede Stadium|    Mumbai|       India|      Mumbai Indians|Royal Challengers...|      bat| wickets|      Result| MV Boucher|         5|         1|
|       4|  335991|Kolkata Knight Ri...|     Deccan Chargers| 4/20/2008|       2008|        Eden Gardens|   Kolkata|       India|     Deccan Chargers|Kolkata Knight Ri...|      bat| wickets|      Result|  DJ Hussey|         5|         1|
+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-----------+----------+----------+
only showing top 5 rows

In [115]:
player = spark.read.csv("Player.csv", inferSchema = True, header = True)
player.show(5)

+---------+---------+---------------+----------+--------------+------------------+------------+
|PLAYER_SK|Player_Id|    Player_Name|       DOB|  Batting_hand|     Bowling_skill|Country_Name|
+---------+---------+---------------+----------+--------------+------------------+------------+
|        0|        1|     SC Ganguly|  7/8/1972| Left-hand bat|  Right-arm medium|       India|
|        1|        2|    BB McCullum| 9/27/1981|Right-hand bat|  Right-arm medium| New Zealand|
|        2|        3|     RT Ponting|12/19/1974|Right-hand bat|  Right-arm medium|   Australia|
|        3|        4|      DJ Hussey| 7/15/1977|Right-hand bat|Right-arm offbreak|   Australia|
|        4|        5|Mohammad Hafeez|10/17/1980|Right-hand bat|Right-arm offbreak|    Pakistan|
+---------+---------+---------------+----------+--------------+------------------+------------+
only showing top 5 rows

In [116]:
player_match = spark.read.csv("Player_match.csv", inferSchema = True, header = True)
player_match.show(5)

+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+
|Player_match_SK|PlayerMatch_key|Match_Id|Player_Id|Player_Name|       DOB|  Batting_hand|       Bowling_skill|Country_Name|Role_Desc|         Player_team|        Opposit_Team|Season_year|is_manofThematch|Age_As_on_match|IsPlayers_Team_won|Batting_Status|Bowling_Status|Player_Captain|Opposit_captain|Player_keeper|Opposit_keeper|
+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+
|             -1|           0E+6|      -1|       -1|        N/A|      null|          null|                null|        null|     null|                null|                null|       null|            null|           null|              null|          null|          null|          null|           null|         null|          null|
|          12694|     3.3599E+10|  335987|        6|   R Dravid| 1/11/1973|Right-hand bat|  Right-arm offbreak|       India|  Captain|Royal Challengers...|Kolkata Knight Ri...|       2008|               0|             35|                 0|          null|          null|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|
|          12695|     3.3599E+10|  335987|        7|   W Jaffer| 2/16/1978|Right-hand bat|  Right-arm offbreak|       India|   Player|Royal Challengers...|Kolkata Knight Ri...|       2008|               0|             30|                 0|          null|          null|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|
|          12696|     3.3599E+10|  335987|        8|    V Kohli| 11/5/1988|Right-hand bat|    Right-arm medium|       India|   Player|Royal Challengers...|Kolkata Knight Ri...|       2008|               0|             20|                 0|          null|          null|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|
|          12697|     3.3599E+10|  335987|        9|  JH Kallis|10/16/1975|Right-hand bat|Right-arm fast-me...|South Africa|   Player|Royal Challengers...|Kolkata Knight Ri...|       2008|               0|             33|                 0|          null|          null|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|
+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+
only showing top 5 rows

In [117]:
team = spark.read.csv("Team.csv", inferSchema = True, header = True)
team.show(5)

+-------+-------+--------------------+
|Team_SK|Team_Id|           Team_Name|
+-------+-------+--------------------+
|      0|      1|Kolkata Knight Ri...|
|      1|      2|Royal Challengers...|
|      2|      3| Chennai Super Kings|
|      3|      4|     Kings XI Punjab|
|      4|      5|    Rajasthan Royals|
+-------+-------+--------------------+
only showing top 5 rows

In [118]:
ball.columns

['MatcH_id',
 'Over_id',
 'Ball_id',
 'Innings_No',
 'Team_Batting',
 'Team_Bowling',
 'Striker_Batting_Position',
 'Extra_Type',
 'Runs_Scored',
 'Extra_runs',
 'Wides',
 'Legbyes',
 'Byes',
 'Noballs',
 'Penalty',
 'Bowler_Extras',
 'Out_type',
 'Caught',
 'Bowled',
 'Run_out',
 'LBW',
 'Retired_hurt',
 'Stumped',
 'caught_and_bowled',
 'hit_wicket',
 'ObstructingFeild',
 'Bowler_Wicket',
 'Match_Date',
 'Season',
 'Striker',
 'Non_Striker',
 'Bowler',
 'Player_Out',
 'Fielders',
 'Striker_match_SK',
 'StrikerSK',
 'NonStriker_match_SK',
 'NONStriker_SK',
 'Fielder_match_SK',
 'Fielder_SK',
 'Bowler_match_SK',
 'BOWLER_SK',
 'PlayerOut_match_SK',
 'BattingTeam_SK',
 'BowlingTeam_SK',
 'Keeper_Catch',
 'Player_out_sk',
 'MatchDateSK']

In [119]:
match.columns

['Match_SK',
 'match_id',
 'Team1',
 'Team2',
 'match_date',
 'Season_Year',
 'Venue_Name',
 'City_Name',
 'Country_Name',
 'Toss_Winner',
 'match_winner',
 'Toss_Name',
 'Win_Type',
 'Outcome_Type',
 'ManOfMach',
 'Win_Margin',
 'Country_id']

In [120]:
match.createOrReplaceTempView('match_tmp')
spark.sql("select ManOfMach,count(*) as Count from match_tmp group by ManOfMach order by Count desc limit 1").show()

[Stage 146:=============================================>       (172 + 1) / 200]

+---------+-----+
|ManOfMach|Count|
+---------+-----+
| CH Gayle|   18|
+---------+-----+

In [121]:
#Another way to find the answer
match_subset = match.select('Match_id','ManOfMach') #Selecting useful columns
abcd = match_subset.groupBy('ManOfMach').count()
abcd.orderBy(abcd['count'].desc()).show()

[Stage 149:======================================>              (144 + 1) / 200]

+--------------+-----+
|     ManOfMach|count|
+--------------+-----+
|      CH Gayle|   18|
|     YK Pathan|   16|
|AB de Villiers|   15|
|     DA Warner|   15|
|     RG Sharma|   14|
|      SK Raina|   14|
|     G Gambhir|   13|
|      MS Dhoni|   13|
|    MEK Hussey|   12|
|     AM Rahane|   12|
|      DR Smith|   11|
|      V Sehwag|   11|
|       V Kohli|   11|
|     SR Watson|   10|
|     JH Kallis|   10|
|      SE Marsh|    9|
|      A Mishra|    9|
|    KA Pollard|    9|
|  SR Tendulkar|    8|
|    RV Uthappa|    7|
+--------------+-----+
only showing top 20 rows

#2ND QUESTION

In [122]:
player_match.show(5)

+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+
|Player_match_SK|PlayerMatch_key|Match_Id|Player_Id|Player_Name|       DOB|  Batting_hand|       Bowling_skill|Country_Name|Role_Desc|         Player_team|        Opposit_Team|Season_year|is_manofThematch|Age_As_on_match|IsPlayers_Team_won|Batting_Status|Bowling_Status|Player_Captain|Opposit_captain|Player_keeper|Opposit_keeper|
+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+
|             -1|           0E+6|      -1|       -1|        N/A|      null|          null|                null|        null|     null|                null|                null|       null|            null|           null|              null|          null|          null|          null|           null|         null|          null|
|          12694|     3.3599E+10|  335987|        6|   R Dravid| 1/11/1973|Right-hand bat|  Right-arm offbreak|       India|  Captain|Royal Challengers...|Kolkata Knight Ri...|       2008|               0|             35|                 0|          null|          null|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|
|          12695|     3.3599E+10|  335987|        7|   W Jaffer| 2/16/1978|Right-hand bat|  Right-arm offbreak|       India|   Player|Royal Challengers...|Kolkata Knight Ri...|       2008|               0|             30|                 0|          null|          null|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|
|          12696|     3.3599E+10|  335987|        8|    V Kohli| 11/5/1988|Right-hand bat|    Right-arm medium|       India|   Player|Royal Challengers...|Kolkata Knight Ri...|       2008|               0|             20|                 0|          null|          null|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|
|          12697|     3.3599E+10|  335987|        9|  JH Kallis|10/16/1975|Right-hand bat|Right-arm fast-me...|South Africa|   Player|Royal Challengers...|Kolkata Knight Ri...|       2008|               0|             33|                 0|          null|          null|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|
+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+
only showing top 5 rows

In [123]:
player_match_subset = player_match.select('Match_Id','Player_Name')
abcd = player_match_subset.filter("Player_Name == 'CH Gayle'").collect()
abcd

[Row(Match_Id=392189, Player_Name='CH Gayle'),
 Row(Match_Id=392191, Player_Name='CH Gayle'),
 Row(Match_Id=392195, Player_Name='CH Gayle'),
 Row(Match_Id=392202, Player_Name='CH Gayle'),
 Row(Match_Id=392204, Player_Name='CH Gayle'),
 Row(Match_Id=392208, Player_Name='CH Gayle'),
 Row(Match_Id=392212, Player_Name='CH Gayle'),
 Row(Match_Id=419127, Player_Name='CH Gayle'),
 Row(Match_Id=419132, Player_Name='CH Gayle'),
 Row(Match_Id=419136, Player_Name='CH Gayle'),
 Row(Match_Id=419140, Player_Name='CH Gayle'),
 Row(Match_Id=419144, Player_Name='CH Gayle'),
 Row(Match_Id=419149, Player_Name='CH Gayle'),
 Row(Match_Id=419153, Player_Name='CH Gayle'),
 Row(Match_Id=419158, Player_Name='CH Gayle'),
 Row(Match_Id=419163, Player_Name='CH Gayle'),
 Row(Match_Id=501227, Player_Name='CH Gayle'),
 Row(Match_Id=501232, Player_Name='CH Gayle'),
 Row(Match_Id=501237, Player_Name='CH Gayle'),
 Row(Match_Id=501249, Player_Name='CH Gayle'),
 Row(Match_Id=501252, Player_Name='CH Gayle'),
 Row(Match_Id=501257, Player_Name='CH Gayle'),
 Row(Match_Id=501260, Player_Name='CH Gayle'),
 Row(Match_Id=501265, Player_Name='CH Gayle'),
 Row(Match_Id=501271, Player_Name='CH Gayle'),
 Row(Match_Id=501273, Player_Name='CH Gayle'),
 Row(Match_Id=501275, Player_Name='CH Gayle'),
 Row(Match_Id=501276, Player_Name='CH Gayle'),
 Row(Match_Id=548320, Player_Name='CH Gayle'),
 Row(Match_Id=548323, Player_Name='CH Gayle'),
 Row(Match_Id=548329, Player_Name='CH Gayle'),
 Row(Match_Id=548332, Player_Name='CH Gayle'),
 Row(Match_Id=548336, Player_Name='CH Gayle'),
 Row(Match_Id=548341, Player_Name='CH Gayle'),
 Row(Match_Id=548349, Player_Name='CH Gayle'),
 Row(Match_Id=548355, Player_Name='CH Gayle'),
 Row(Match_Id=548361, Player_Name='CH Gayle'),
 Row(Match_Id=548365, Player_Name='CH Gayle'),
 Row(Match_Id=548367, Player_Name='CH Gayle'),
 Row(Match_Id=548372, Player_Name='CH Gayle'),
 Row(Match_Id=548377, Player_Name='CH Gayle'),
 Row(Match_Id=548381, Player_Name='CH Gayle'),
 Row(Match_Id=598004, Player_Name='CH Gayle'),
 Row(Match_Id=598009, Player_Name='CH Gayle'),
 Row(Match_Id=598013, Player_Name='CH Gayle'),
 Row(Match_Id=598017, Player_Name='CH Gayle'),
 Row(Match_Id=598022, Player_Name='CH Gayle'),
 Row(Match_Id=598028, Player_Name='CH Gayle'),
 Row(Match_Id=598032, Player_Name='CH Gayle'),
 Row(Match_Id=598038, Player_Name='CH Gayle'),
 Row(Match_Id=598041, Player_Name='CH Gayle'),
 Row(Match_Id=598047, Player_Name='CH Gayle'),
 Row(Match_Id=598050, Player_Name='CH Gayle'),
 Row(Match_Id=598053, Player_Name='CH Gayle'),
 Row(Match_Id=598059, Player_Name='CH Gayle'),
 Row(Match_Id=598062, Player_Name='CH Gayle'),
 Row(Match_Id=598069, Player_Name='CH Gayle'),
 Row(Match_Id=598073, Player_Name='CH Gayle'),
 Row(Match_Id=729318, Player_Name='CH Gayle'),
 Row(Match_Id=733982, Player_Name='CH Gayle'),
 Row(Match_Id=733988, Player_Name='CH Gayle'),
 Row(Match_Id=733996, Player_Name='CH Gayle'),
 Row(Match_Id=734004, Player_Name='CH Gayle'),
 Row(Match_Id=734010, Player_Name='CH Gayle'),
 Row(Match_Id=734018, Player_Name='CH Gayle'),
 Row(Match_Id=734026, Player_Name='CH Gayle'),
 Row(Match_Id=734032, Player_Name='CH Gayle'),
 Row(Match_Id=829718, Player_Name='CH Gayle'),
 Row(Match_Id=829724, Player_Name='CH Gayle'),
 Row(Match_Id=829742, Player_Name='CH Gayle'),
 Row(Match_Id=829754, Player_Name='CH Gayle'),
 Row(Match_Id=829762, Player_Name='CH Gayle'),
 Row(Match_Id=829768, Player_Name='CH Gayle'),
 Row(Match_Id=829776, Player_Name='CH Gayle'),
 Row(Match_Id=829790, Player_Name='CH Gayle'),
 Row(Match_Id=829800, Player_Name='CH Gayle'),
 Row(Match_Id=829808, Player_Name='CH Gayle'),
 Row(Match_Id=829812, Player_Name='CH Gayle'),
 Row(Match_Id=829818, Player_Name='CH Gayle'),
 Row(Match_Id=829824, Player_Name='CH Gayle'),
 Row(Match_Id=829826, Player_Name='CH Gayle'),
 Row(Match_Id=980912, Player_Name='CH Gayle'),
 Row(Match_Id=980926, Player_Name='CH Gayle'),
 Row(Match_Id=980964, Player_Name='CH Gayle'),
 Row(Match_Id=980986, Player_Name='CH Gayle'),
 Row(Match_Id=980992, Player_Name='CH Gayle'),
 Row(Match_Id=981000, Player_Name='CH Gayle'),
 Row(Match_Id=981004, Player_Name='CH Gayle'),
 Row(Match_Id=981016, Player_Name='CH Gayle'),
 Row(Match_Id=981018, Player_Name='CH Gayle'),
 Row(Match_Id=981024, Player_Name='CH Gayle'),
 Row(Match_Id=1082591, Player_Name='CH Gayle'),
 Row(Match_Id=1082595, Player_Name='CH Gayle'),
 Row(Match_Id=1082602, Player_Name='CH Gayle'),
 Row(Match_Id=1082610, Player_Name='CH Gayle'),
 Row(Match_Id=1082617, Player_Name='CH Gayle'),
 Row(Match_Id=1082621, Player_Name='CH Gayle'),
 Row(Match_Id=1082633, Player_Name='CH Gayle'),
 Row(Match_Id=1082636, Player_Name='CH Gayle'),
 Row(Match_Id=1082646, Player_Name='CH Gayle')]

In [124]:
ball_subset = ball.select('MatcH_id','Runs_Scored','Wides','Bowler_Extras','Legbyes','Byes')
ball_subset.createOrReplaceTempView('ball_tmp')

In [125]:
player_match_subset.createTempView('pm_tmp')

AnalysisException: "Temporary view 'pm_tmp' already exists;"

In [126]:
spark.sql("select sum(Runs_Scored) as Total_Runs_By_CH_Gayle,sum(Wides) as Wides,sum(Bowler_Extras), sum(Legbyes), sum(Byes) from ball_tmp where MatcH_id in (select Match_Id from pm_tmp where Player_Name == 'CH Gayle')").show()

+----------------------+-----+------------------+------------+---------+
|Total_Runs_By_CH_Gayle|Wides|sum(Bowler_Extras)|sum(Legbyes)|sum(Byes)|
+----------------------+-----+------------------+------------+---------+
|                 29699|  965|              1078|         497|      133|
+----------------------+-----+------------------+------------+---------+

In [127]:
spark.sql("select Match_Id from match_tmp where ManOfMach == 'CH Gayle'").show()

+--------+
|Match_Id|
+--------+
|  392191|
|  501227|
|  501249|
|  501252|
|  501260|
|  501271|
|  501275|
|  548332|
|  548336|
|  548365|
|  548367|
|  548377|
|  598004|
|  598013|
|  598032|
|  829718|
|  829790|
| 1082610|
+--------+

In [128]:
spark.sql("select Match_Id from pm_tmp where Player_Name == 'CH Gayle'").show()

+--------+
|Match_Id|
+--------+
|  392189|
|  392191|
|  392195|
|  392202|
|  392204|
|  392208|
|  392212|
|  419127|
|  419132|
|  419136|
|  419140|
|  419144|
|  419149|
|  419153|
|  419158|
|  419163|
|  501227|
|  501232|
|  501237|
|  501249|
+--------+
only showing top 20 rows

In [129]:
df_ball = spark.read.csv("Ball_By_Ball.csv", inferSchema=True, header = True)

df_player = spark.read.csv("Player.csv", inferSchema=True, header = True)

df_player.createOrReplaceTempView("player")

df_ball.createOrReplaceTempView("ball")

df_join = spark.sql("select * from ball left join player on ball.Striker == player.Player_Id")

df = df_join.select('Runs_Scored','Player_Name','Extra_Type').filter("Player_Name == 'CH Gayle'and Extra_Type=='No Extras' ")

from pyspark.sql.functions import sum

df.select(sum(df.Runs_Scored)).show()

+----------------+
|sum(Runs_Scored)|
+----------------+
|            3606|
+----------------+

In [130]:
df_join = spark.sql("select * from ball left join player on ball.Striker == player.Player_Id join match_tmp on match_tmp.MatcH_id == ball.Match_Id")
import pyspark.sql.functions as func
df = df_join.select('Runs_Scored','Player_Name').filter("Season_Year == 2010").groupBy('Player_Name').agg(func.sum("Runs_Scored").alias("Sum_Runs")).orderBy("Sum_Runs",ascending=False)
df.collect()

[Row(Player_Name='SR Tendulkar', Sum_Runs=617),
 Row(Player_Name='JH Kallis', Sum_Runs=572),
 Row(Player_Name='SK Raina', Sum_Runs=528),
 Row(Player_Name='SC Ganguly', Sum_Runs=493),
 Row(Player_Name='M Vijay', Sum_Runs=458),
 Row(Player_Name='DPMD Jayawardene', Sum_Runs=445),
 Row(Player_Name='A Symonds', Sum_Runs=429),
 Row(Player_Name='SS Tiwary', Sum_Runs=419),
 Row(Player_Name='RG Sharma', Sum_Runs=404),
 Row(Player_Name='NV Ojha', Sum_Runs=377),
 Row(Player_Name='RV Uthappa', Sum_Runs=374),
 Row(Player_Name='KC Sangakkara', Sum_Runs=357),
 Row(Player_Name='S Badrinath', Sum_Runs=356),
 Row(Player_Name='V Sehwag', Sum_Runs=356),
 Row(Player_Name='AT Rayudu', Sum_Runs=356),
 Row(Player_Name='ML Hayden', Sum_Runs=346),
 Row(Player_Name='YK Pathan', Sum_Runs=333),
 Row(Player_Name='TL Suman', Sum_Runs=307),
 Row(Player_Name='V Kohli', Sum_Runs=307),
 Row(Player_Name='CH Gayle', Sum_Runs=292),
 Row(Player_Name='AC Gilchrist', Sum_Runs=289),
 Row(Player_Name='MS Dhoni', Sum_Runs=287),
 Row(Player_Name='DA Warner', Sum_Runs=282),
 Row(Player_Name='MJ Lumb', Sum_Runs=278),
 Row(Player_Name='KD Karthik', Sum_Runs=278),
 Row(Player_Name='G Gambhir', Sum_Runs=277),
 Row(Player_Name='IK Pathan', Sum_Runs=276),
 Row(Player_Name='KA Pollard', Sum_Runs=273),
 Row(Player_Name='HH Gibbs', Sum_Runs=267),
 Row(Player_Name='Yuvraj Singh', Sum_Runs=259),
 Row(Player_Name='R Dravid', Sum_Runs=256),
 Row(Player_Name='MK Pandey', Sum_Runs=249),
 Row(Player_Name='RS Bopara', Sum_Runs=248),
 Row(Player_Name='MK Tiwary', Sum_Runs=237),
 Row(Player_Name='KP Pietersen', Sum_Runs=236),
 Row(Player_Name='AD Mathews', Sum_Runs=233),
 Row(Player_Name='MS Bisla', Sum_Runs=218),
 Row(Player_Name='PD Collingwood', Sum_Runs=203),
 Row(Player_Name='JA Morkel', Sum_Runs=199),
 Row(Player_Name='S Dhawan', Sum_Runs=191),
 Row(Player_Name='SR Watson', Sum_Runs=185),
 Row(Player_Name='AA Jhunjhunwala', Sum_Runs=183),
 Row(Player_Name='AC Voges', Sum_Runs=181),
 Row(Player_Name='MD Mishra', Sum_Runs=166),
 Row(Player_Name='FY Fazal', Sum_Runs=164),
 Row(Player_Name='M Manhas', Sum_Runs=157),
 Row(Player_Name='JP Duminy', Sum_Runs=157),
 Row(Player_Name='SE Marsh', Sum_Runs=147),
 Row(Player_Name='CA Pujara', Sum_Runs=122),
 Row(Player_Name='OA Shah', Sum_Runs=115),
 Row(Player_Name='BB McCullum', Sum_Runs=114),
 Row(Player_Name='R Sathish', Sum_Runs=112),
 Row(Player_Name='AB de Villiers', Sum_Runs=111),
 Row(Player_Name='P Dogra', Sum_Runs=107),
 Row(Player_Name='Harbhajan Singh', Sum_Runs=105),
 Row(Player_Name='BJ Hodge', Sum_Runs=99),
 Row(Player_Name='DJ Hussey', Sum_Runs=94),
 Row(Player_Name='LRPL Taylor', Sum_Runs=88),
 Row(Player_Name='KM Jadhav', Sum_Runs=76),
 Row(Player_Name='PA Patel', Sum_Runs=72),
 Row(Player_Name='WP Saha', Sum_Runs=67),
 Row(Player_Name='R McLaren', Sum_Runs=66),
 Row(Player_Name='AB McDonald', Sum_Runs=65),
 Row(Player_Name='VVS Laxman', Sum_Runs=64),
 Row(Player_Name='Anirudh Singh', Sum_Runs=63),
 Row(Player_Name='PP Chawla', Sum_Runs=62),
 Row(Player_Name='DJ Bravo', Sum_Runs=61),
 Row(Player_Name='AM Nayar', Sum_Runs=58),
 Row(Player_Name='AS Raut', Sum_Runs=56),
 Row(Player_Name='AP Tare', Sum_Runs=50),
 Row(Player_Name='CL White', Sum_Runs=48),
 Row(Player_Name='RJ Harris', Sum_Runs=45),
 Row(Player_Name='TM Dilshan', Sum_Runs=44),
 Row(Player_Name='GC Smith', Sum_Runs=44),
 Row(Player_Name='AB Barath', Sum_Runs=42),
 Row(Player_Name='AB Agarkar', Sum_Runs=40),
 Row(Player_Name='A Mishra', Sum_Runs=39),
 Row(Player_Name='MEK Hussey', Sum_Runs=37),
 Row(Player_Name='LR Shukla', Sum_Runs=36),
 Row(Player_Name='B Sumanth', Sum_Runs=35),
 Row(Player_Name='EJG Morgan', Sum_Runs=35),
 Row(Player_Name='Y Venugopal Rao', Sum_Runs=34),
 Row(Player_Name='AP Dole', Sum_Runs=34),
 Row(Player_Name='DL Vettori', Sum_Runs=33),
 Row(Player_Name='ST Jayasuriya', Sum_Runs=33),
 Row(Player_Name='MF Maharoof', Sum_Runs=31),
 Row(Player_Name='S Anirudha', Sum_Runs=30),
 Row(Player_Name='R Ashwin', Sum_Runs=30),
 Row(Player_Name='WPUJC Vaas', Sum_Runs=30),
 Row(Player_Name='R Sharma', Sum_Runs=29),
 Row(Player_Name='M Kaif', Sum_Runs=28),
 Row(Player_Name='MR Marsh', Sum_Runs=28),
 Row(Player_Name='S Sriram', Sum_Runs=27),
 Row(Player_Name='R Vinay Kumar', Sum_Runs=27),
 Row(Player_Name='S Sreesanth', Sum_Runs=27),
 Row(Player_Name='JM Kemp', Sum_Runs=26),
 Row(Player_Name='R Bhatia', Sum_Runs=24),
 Row(Player_Name='Z Khan', Sum_Runs=24),
 Row(Player_Name='A Nehra', Sum_Runs=23),
 Row(Player_Name='DR Smith', Sum_Runs=22),
 Row(Player_Name='M Kartik', Sum_Runs=22),
 Row(Player_Name='AJ Finch', Sum_Runs=21),
 Row(Player_Name='SK Trivedi', Sum_Runs=20),
 Row(Player_Name='DR Martyn', Sum_Runs=19),
 Row(Player_Name='K Goel', Sum_Runs=18),
 Row(Player_Name='GJ Bailey', Sum_Runs=18),
 Row(Player_Name='DE Bollinger', Sum_Runs=18),
 Row(Player_Name='L Balaji', Sum_Runs=18),
 Row(Player_Name='C Madan', Sum_Runs=15),
 Row(Player_Name='S Narwal', Sum_Runs=14),
 Row(Player_Name='DW Steyn', Sum_Runs=13),
 Row(Player_Name='MV Boucher', Sum_Runs=13),
 Row(Player_Name='AD Mascarenhas', Sum_Runs=12),
 Row(Player_Name='SW Tait', Sum_Runs=12),
 Row(Player_Name='B Lee', Sum_Runs=11),
 Row(Player_Name='MC Henriques', Sum_Runs=11),
 Row(Player_Name='T Thushara', Sum_Runs=10),
 Row(Player_Name='PJ Sangwan', Sum_Runs=10),
 Row(Player_Name='SK Warne', Sum_Runs=10),
 Row(Player_Name='KAJ Roach', Sum_Runs=10),
 Row(Player_Name='Bipul Sharma', Sum_Runs=9),
 Row(Player_Name='M Morkel', Sum_Runs=9),
 Row(Player_Name='RP Singh', Sum_Runs=9),
 Row(Player_Name='Jaskaran Singh', Sum_Runs=8),
 Row(Player_Name='STR Binny', Sum_Runs=8),
 Row(Player_Name='SP Goswami', Sum_Runs=8),
 Row(Player_Name='A Kumble', Sum_Runs=6),
 Row(Player_Name='VS Malik', Sum_Runs=6),
 Row(Player_Name='I Sharma', Sum_Runs=6),
 Row(Player_Name='SA Asnodkar', Sum_Runs=5),
 Row(Player_Name='RR Powar', Sum_Runs=5),
 Row(Player_Name='A Mithun', Sum_Runs=5),
 Row(Player_Name='RS Sodhi', Sum_Runs=4),
 Row(Player_Name='DP Nannes', Sum_Runs=4),
 Row(Player_Name='A Uniyal', Sum_Runs=4),
 Row(Player_Name='AN Ahmed', Sum_Runs=4),
 Row(Player_Name='Mandeep Singh', Sum_Runs=4),
 Row(Player_Name='P Kumar', Sum_Runs=4),
 Row(Player_Name='MM Patel', Sum_Runs=4),
 Row(Player_Name='KB Arun Karthik', Sum_Runs=3),
 Row(Player_Name='S Tyagi', Sum_Runs=3),
 Row(Player_Name='UT Yadav', Sum_Runs=3),
 Row(Player_Name='PP Ojha', Sum_Runs=3),
 Row(Player_Name='MS Gony', Sum_Runs=2),
 Row(Player_Name='J Theron', Sum_Runs=2),
 Row(Player_Name='CRD Fernando', Sum_Runs=2),
 Row(Player_Name='RS Gavaskar', Sum_Runs=2),
 Row(Player_Name='AA Bilakhia', Sum_Runs=2),
 Row(Player_Name='KP Appanna', Sum_Runs=2),
 Row(Player_Name='M Muralitharan', Sum_Runs=1),
 Row(Player_Name='SJ Srivastava', Sum_Runs=1),
 Row(Player_Name='BAW Mendis', Sum_Runs=1),
 Row(Player_Name='SE Bond', Sum_Runs=1),
 Row(Player_Name='SL Malinga', Sum_Runs=1),
 Row(Player_Name='Y Nagar', Sum_Runs=1),
 Row(Player_Name='RE van der Merwe', Sum_Runs=1),
 Row(Player_Name='Pankaj Singh', Sum_Runs=1),
 Row(Player_Name='CK Langeveldt', Sum_Runs=0),
 Row(Player_Name='AB Dinda', Sum_Runs=0),
 Row(Player_Name='AG Paunikar', Sum_Runs=0),
 Row(Player_Name='Harmeet Singh', Sum_Runs=0),
 Row(Player_Name='Iqbal Abdulla', Sum_Runs=0),
 Row(Player_Name='S Ladda', Sum_Runs=0),
 Row(Player_Name='YA Abdulla', Sum_Runs=0)]

In [ ]:
#Another Approach (Solution)
df_ball = spark.read.csv("ball_by_ball.csv", inferSchema=True, header = True)
df_player = spark.read.csv("player.csv", inferSchema=True, header = True)
df_match = spark.read.csv("match.csv", inferSchema=True, header = True)

df_match.createOrReplaceTempView("match")
df_ball.createOrReplaceTempView("ball")
df_player.createOrReplaceTempView("player")

df_join = spark.sql("select * from ball left join player on ball.Striker == player.Player_Id")
df_join.createOrReplaceTempView("join1")

df_large= spark.sql("select * from join1 left join match on join1.MatcH_id == match.match_id")

df_year = df_large.select(['Striker','Player_Name','Runs_Scored','Season_Year'])

df= df_year.filter("Season_Year == 2010 and Extra_Type=='No Extras' ")

final_df = df.groupby("Player_Name").sum('Runs_Scored')

final_df.orderBy(final_df['sum(Runs_Scored)'].desc()).show()

In [ ]:
#The End