In [1]:
import os
import sys
os.environ["PYSPARK_PYTHON"]="/home/ec2-user/spark-2.4.4-bin-hadoop2.7/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_161/jre"
os.environ["SPARK_HOME"] = "/home/ec2-user/spark-2.4.4-bin-hadoop2.7"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Graded').getOrCreate()

22/08/10 03:17:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
df = spark.read.json('employees_1.json')
df.show()

+----------+-------+------+
|       DOB|   name|salary|
+----------+-------+------+
|1993-02-16|Michael|  3000|
|1991-11-20|   Andy|  4500|
|1991-11-28| Justin|  3500|
|1993-05-21|  Borta|  4000|
|1960-09-25|  David|  4800|
|1966-09-19|  Sandy|  5100|
|1996-05-31|  Peter|  1500|
|1992-03-02|   John|  4700|
+----------+-------+------+

In [7]:
df.printSchema()

root
 |-- DOB: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [8]:
df2 = spark.read.load('employees_1.json',format='json')
df2.printSchema()

root
 |-- DOB: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [22]:
from pyspark.sql.types import IntegerType,DateType
df = df.withColumn('salary_int',df["salary"].cast(IntegerType()))
df.printSchema()

root
 |-- DOB: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- salary_int: integer (nullable = true)

In [23]:
df = df.withColumn('DOB_date',df["DOB"].cast(DateType()))
df.printSchema()

root
 |-- DOB: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- salary_int: integer (nullable = true)
 |-- DOB_date: date (nullable = true)

In [24]:
df.show()

+----------+-------+------+----------+----------+
|       DOB|   name|salary|salary_int|  DOB_date|
+----------+-------+------+----------+----------+
|1993-02-16|Michael|  3000|      3000|1993-02-16|
|1991-11-20|   Andy|  4500|      4500|1991-11-20|
|1991-11-28| Justin|  3500|      3500|1991-11-28|
|1993-05-21|  Borta|  4000|      4000|1993-05-21|
|1960-09-25|  David|  4800|      4800|1960-09-25|
|1966-09-19|  Sandy|  5100|      5100|1966-09-19|
|1996-05-31|  Peter|  1500|      1500|1996-05-31|
|1992-03-02|   John|  4700|      4700|1992-03-02|
+----------+-------+------+----------+----------+

In [25]:
df.select('salary_int','DOB_date').write.csv('emplyee_corrected.csv')

In [26]:
df.select('salary_int','DOB_date').write.option("header", "true").csv('emplyee_corrected_2.csv')

In [27]:
#The End